@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background-color: #202022;
    height: 350px;
    margin: 0 auto;
    
}

.header-principal {
    width: 70%;
    margin: 0 auto;
}

.top {
    width: 100%;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    height: 10px;
}

.top img {
    width: 30px;
}

.top h1 {
    color: white;
}

ul {
    width: 40%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

ul li {
    color: white;
    text-decoration: none;
}

ul a {
    text-decoration: none;
}

#Anuncie {
    border: 1px solid white;
    padding: 10px;
}

#Cadastro, #Login {
    border: 1px solid #000000;
    padding: 10px;
    background: white;
    color: #202022;
}

.middle {
    margin-top: 50px;
    display: flex;
}

.middle a {
    margin-right: 15px;
}

.middle img {
    width: 30px;
    color: white;
}

.hosp {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
}

.bottom {
    margin-top: 75px;
}

.bottom h1 {
    font-size: 3rem;
    color: white;
}

.bottom p {
    margin-top: 7px;
    color: white;
    font-size: 1.5rem;
}

a {
    color: white;
}

section {
    margin: 0 auto;
    width: 72%;
    justify-content: center;
}

.read {
    width: 100%;
    margin-top: 60px;
    border: 1px solid lightslategray;
    padding: 15px;
    display: flex;
    align-items: center;
}

.read img {
    width: 40px;
    margin-right: 15px;
}

.read p {
    font-size: 1rem;
    font-weight: 300;
}

.read a {
    color: #202022;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
}

.sale {
    width: 100%;
    margin-top: 30px;
    border: 1px solid lightslategray;
    padding: 15px;
    display: flex;
}

.text-sale h3 {
    margin-bottom: 10px;
}

.text-sale p {
    margin-bottom: 10px;
}

.text-sale button {
    padding: 10px;
    width: 110px;
    color: #202022;
    font-weight: 700;
    font-size: 0.9rem;
    border: 1px solid #202022;
    cursor: pointer;
}

.img img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.know-Brasil {
    margin-top: 30px;
    margin-bottom: 30px;
}

.know-Brasil h1 {
    font-weight: 700;
    margin-bottom: 10px;
}

.know-Brasil p {
    font-size: 1.1rem;
    color: lightslategray;
    font-weight: 300;
}

.cities {
    display: flex;
    justify-content: space-between;

}

.cities  img {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 20px;
    object-fit: cover;
}

.campos {
    margin-right: 10px;
}

.gramado {
    margin-right: 10px;
}

.saopaulo {
    margin-right: 10px;
}

.riodejaneiro {
    margin-right: 10px;
}

.monteverde {
    margin-right: 10px;
}



.cities p {
    margin-top: 5px;
    color: lightslategray;
}

.acomodacao {
    margin-top: 30px;
}

.acomodacao-tipos {
    margin: 30px 0;  
    display: flex;
}

.hotels {
    margin-right: 7px;
}

.apartamentos {
    margin-right: 7px;
}

.resorts {
    margin-right: 7px;
}

.acomodacao-tipos img {
    width: 260px;
    margin-right: 10px;
    border-radius: 7px;
    object-fit: cover;
}

.acomodacao-tipos h3 {
    margin-top: 10px;
}

.acomodacao-tipos p {
    margin-top: 5px;
    color: lightslategray;
}

.grid-cities {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
}

.try {
    display: flex;
    justify-content: space-between;
    height: 270px;
    margin-bottom: 7px;
}

.brasilia-grid {
    width: 50%;
    margin-right: 20px;
    position: relative;
}

.saopaulo-grid {
    width: 50%;
    position: relative;
}

.try2 {
    height: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.cuiaba-grid {
    width: 33.33%;
    margin-right: 15px;
    position: relative;
}

.belohorizonte-grid {
    width: 33.33%;
    margin-right: 15px;
    position: relative;
}

.goiania-grid {
    width: 33.33%;
    position: relative;
}

.grid-cities img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
}

.city {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
    font-size: 1.3rem;
}

.city h1 {
    font-weight: 700;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px black;
}

.city p {
    text-shadow: 1px 1px 2px black;
}

.newsletter {
    display: flex;
    width: 100%;
}

.newsletter img {
    width: 60px;
    margin-right: 15px;
}

.newsletter h1 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.newsletter p {
    margin-bottom: 10px;
}

.input-sing-in {
    width: 100%;
}

.newsletter input{
    width: 100%;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #202022;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.footer h1 {
    font-size: 2rem;
    font-weight: 300;
    color: white;
    margin-bottom: 5px;
}

.footer p {
    color: white;
    opacity: 70%;
    margin-bottom: 10px;
}

.input-footer {
    width: 50%;
    margin: 0 auto;
    display: flex;
}

.input-footer input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-right: 5px;
}

.input-footer button {
    width: 15%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background:  rgb(67, 72, 78);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}








